<style>
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #5C5C5C;
	line-height: 100%;
	margin: 20px;
	padding: 0px;
	background-color: #FCF5ED;
	font-size:14px;
}

p {
	margin-bottom: 1.5em;
}

.nav {
	margin: 20px auto;
	text-align: center;
}

.center {
	margin: 20px auto;
	text-align: center;
}

.container_protocol {
	margin:20px;
}

table {
	width: 100%;
	text-align: left;
	font-size:12px;
}

table .title {
	background: #EEE;
	text-align: left;
}

.input_protocol { width: 600px; height: 300px;}

input {padding-left:4px;padding-left:4px;}
textarea {padding:4px;}

</style>